
.logo{
    width: 142px;
    height: 33px;
    fill: white;
    margin: 0;
}
@media screen and (max-width: 425px) {
    .logo{
        width: 103.74px;
        height: 24.4px;
    }
}
.logo:hover{
    fill: black;
    cursor: pointer;
}