.card__like{
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    margin: 0;
}
.card__like:hover{
    background-image: url(../../../images/likeHover.svg);
    cursor: pointer;
}
.card__like:active{
    background-image: url(../../../images/likeSelected.svg);
}